{
  "AnalyticsLambdaFunctionETL": {
    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "AWS_REGION": "",
    "PG_HOST": "fakeinstance-us-east-1-dev-1.fakeid.us-east-1.rds.amazonaws.com",
    "PG_PORT": "5432",
    "PG_DATABASE": "dbname",
    "PG_USERNAME": "username",
    "PG_PASSWORD": "password",
    "S3_BUCKET_NAME": "s3-bucket-with-csvs",
    "S3_OBJECT_KEY": "s3-bucket-key"
  }
}